## 日期和时间数据类型及工具

In [4]:
from datetime import datetime

In [5]:
now = datetime.now()

now

datetime.datetime(2019, 7, 4, 15, 25, 6, 836028)

In [6]:
now.year,now.month,now.day

(2019, 7, 4)

## 字符串和datetime的相互转换

In [7]:
stamp = datetime(2011,1,3)

str(stamp)

'2011-01-03 00:00:00'

In [8]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [9]:
value = '2011-01-03'

datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [10]:
from dateutil.parser import parse

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

## 时间序列基础

In [11]:
from datetime import datetime

In [12]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]

dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [13]:
import pandas as pd

import numpy as np

In [14]:
ts = pd.Series(np.random.randn(6),index=dates)

In [15]:
ts

2011-01-02   -1.593591
2011-01-05   -0.246354
2011-01-07   -1.217772
2011-01-08    1.436943
2011-01-10    0.813648
2011-01-12    0.219391
dtype: float64

In [16]:
type(ts)

pandas.core.series.Series

In [17]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [18]:
stamp = ts.index[2]

In [19]:
stamp

Timestamp('2011-01-07 00:00:00')

In [20]:
ts[stamp]

-1.2177717107597008

In [21]:
ts['2011/1/10']

0.813647933104208

In [22]:
ts['20110110']

0.813647933104208

In [24]:
longer_ts = pd.Series(np.random.randn(100),index=pd.date_range('2000/1/1',periods=100))

longer_ts.head()

2000-01-01   -0.221105
2000-01-02    0.550743
2000-01-03    0.252290
2000-01-04    0.580886
2000-01-05    0.178067
Freq: D, dtype: float64

In [25]:
len(longer_ts)

100

In [27]:
dates = pd.date_range('2001/1/1',periods=100)

long_df = pd.DataFrame(np.random.randn(100,4),index=dates,columns=list('abcd'))

long_df.head()

                   a         b         c         d
2001-01-01  0.901437  0.416106  1.534629  1.788672
2001-01-02  1.148185 -1.450785 -0.481627 -1.365260
2001-01-03 -1.477526  1.370307  1.723643  1.154074
2001-01-04 -0.043133  1.053726  1.986618  0.724267
2001-01-05 -0.420678 -0.475209  0.014492 -0.861387