In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('1.csv')

df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
!cat ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
pd.read_csv('ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [5]:
pd.read_csv('ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!cat csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12

In [7]:
parsed = pd.read_csv('csv_mindex.csv',index_col=['key1','key2'])

parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12

In [8]:
import numpy as np

data = pd.DataFrame(np.random.randn(4,5),columns=list('abcde'))

data

          a         b         c         d         e
0  0.904513 -0.109385 -0.353677  0.512482  0.156627
1  0.876045  1.046712 -0.307066 -0.148298 -0.003089
2  0.028945  0.987263  0.494248  0.528949 -0.241912
3  0.272446  0.254834 -0.077404 -0.901083 -0.533378

In [9]:
data.to_csv('out.csv')

In [10]:
!cat out.csv

,a,b,c,d,e
0,0.9045133400995644,-0.10938508184570052,-0.35367659765211096,0.5124818495077091,0.15662676907282155
1,0.8760452643742214,1.046712160751039,-0.30706598516570965,-0.14829780689363578,-0.003089356261703141
2,0.028945384228492025,0.9872632763816541,0.494248005411877,0.5289489258414037,-0.24191236431399063
3,0.27244569925777723,0.25483379116496685,-0.07740413288888197,-0.9010832295701908,-0.5333775139990176